@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
* {
  margin: 0;
  padding: 0; }

.fr {
  float: right; }

html, body {
  height: 100%;
  color: #383838; }

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400; }

#wrapper {
  width: 90%;
  margin: 0 auto 0 auto; }

#menu {
  padding-top: 40px;
  font-size: 20px;
  vertical-align: bottom;
  text-rendering: optimizeLegibility; }
  #menu ul li {
    display: inline-block;
    margin: 30px;
    padding-bottom: 3px;
    list-style: none; }
    #menu ul li a {
      text-decoration: none;
      color: initial; }
  #menu ul .active {
    border-bottom: 1px solid; }
  #menu ul #hire a {
    border: 1px solid rgba(23, 23, 23, 0.3);
    padding: 25px;
    margin: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }
    #menu ul #hire a:hover {
      background-color: #3d3d3d;
      color: white;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s; }

#hero {
  height: 200px;
  text-align: center;
  padding-top: 200px; }
  #hero p {
    margin-left: auto;
    margin-right: auto; }
  #hero .big {
    font-size: 40px; }
  #hero .small {
    font-size: 22px;
    color: #6b6b6b; }

/* PROJECT SITE */
#projects {
  width: 85%;
  margin: 100px auto auto auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }
  #projects article {
    height: 500px;
    display: inline-block;
    margin: 30px;
    flex-grow: 1;
    flex-basis: 25%; }
  #projects #one {
    background-color: #ed9f9f; }
  #projects #two {
    background-color: #e5ed9f; }
  #projects #third {
    background-color: #a3ed9f; }
  #projects #fourth {
    background-color: #9fede6; }
  #projects #fifth {
    background-color: #9fb5ed; }
  #projects #six {
    background-color: #d49fed; }

footer {
  bottom: 0;
  width: 90%;
  height: 90px;
  position: fixed;
  bottom: 0; }
  footer #social {
    position: absolute;
    right: 30px; }
    footer #social a {
      color: inherit;
      margin-right: 10px;
      border: 1px solid transparent;
      padding: 5px 10px;
      border-radius: 50px;
      width: 41.72px;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s; }
      footer #social a:last-child {
        padding: 5px 13px; }
      footer #social a:hover {
        background-color: #3d3d3d;
        color: white;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s; }

/* Navbar-Colapse */
.navbar-checkbox {
  display: none; }

.navbar-handle {
  display: none;
  cursor: pointer;
  position: relative;
  font-size: 45px;
  padding: 0.5em 0;
  height: 0;
  width: 1.66666667em;
  border-top: 0.13333333em solid; }
  .navbar-handle:before, .navbar-handle:after {
    position: absolute;
    left: 0;
    right: 0;
    content: " ";
    border-top: 0.13333333em solid; }
  .navbar-handle:before {
    top: 0.37777778em; }
  .navbar-handle:after {
    top: 0.88888889em; }

.navbar-handle {
  position: absolute;
  font-size: 1.2em;
  top: 0.7em;
  right: 12px;
  z-index: 10; }

@media (max-width: 800px) {
  #menu ul {
    max-height: 0;
    overflow: hidden; }
  #menu li {
    visibility: hidden;
    display: block;
    border: none; }
  #menu ul {
    margin-top: 0.5em; }
  #menu .navbar-handle {
    display: block; }

  #navbar-checkbox:checked + .menu ul {
    max-height: 300px; }
  #navbar-checkbox:checked + .menu li {
    visibility: visible; }
  #navbar-checkbox:checked + .menu .navbar-handle {
    border-color: #aaa; }
    #navbar-checkbox:checked + .menu .navbar-handle:after, #navbar-checkbox:checked + .menu .navbar-handle:before {
      border-color: #aaa; } }
@media (max-width: 800px) {
  #menu > ul {
    max-height: 0;
    overflow: show;
    margin: 0 3.5em 0 1em; }
  #menu li {
    visibility: hidden;
    display: block !important;
    border: none;
    text-align: right; }
  #menu .navbar-handle {
    display: block; }

  #navbar-checkbox:checked + #menu ul {
    max-height: 100%; }
    #navbar-checkbox:checked + #menu ul li {
      visibility: visible; }
  #navbar-checkbox:checked + #menu .navbar-handle {
    border-color: #aaa; }
    #navbar-checkbox:checked + #menu .navbar-handle:after, #navbar-checkbox:checked + #menu .navbar-handle:before {
      border-color: #aaa; } }
/* PROJECT SITE MQ */
@media (max-width: 1700px) {
  #projects article {
    flex-basis: 40%; } }
@media (max-width: 1300px) {
  #projects article {
    flex-basis: 100%; } }
