doctype html
html(lang="da")
	head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			link(rel='shortcut icon', href='static/images/favicon.ico')
			link(rel='stylesheet', href='css/style.css')
			title Jakob Bilstrup
	body
		div#wrapper
			nav#mainnav
				ul
					li.active
						a(href="#") Jakob Bilstrup
					li
						a(href="#") Projects
					li 
						a(href="#") Expertise
					li
						a(href="#") Contact
					li#hire.fr
						a(href="#") Hire Me
			section#hero
				img(href="images/hero.png" alt="")
