doctype html
html(lang="da")
	head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			link(rel='shortcut icon', href='static/images/favicon.ico')
			link(rel='stylesheet', href='css/style.css')
			title Jakob Bilstrup
	body
		div#wrapper
			nav#mainnav
				ul
					li.active
						a Jakob Bilstrup
					li
						a Projects
					li 
						a Expertise
					li
						a Contact
					li#hire.fr
						a Hire Me
