doctype html
html(lang="da")
	head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			link(rel='shortcut icon', href='assets/images/favicon.ico')

			link(rel='stylesheet', href='assets/css/style.css')
			link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

			title Jakob Bilstrup
	body
		div#wrapper
			include ./includes/nav.jade
			include ./includes/social.jade
			h1#projectshead This is some of my projects
			section#projects
				article.projects#one(data-scroll-speed="4")
					a(href="#")
						span
							small.category Freelance
							small.year 2016
							h1 Tøjstory
							p Web Design & Programming
				article.projects#two
					a(href="#")
						span
							small.category School Project
							small.year 2015
							h1 BOOKit
							p Mobile application concept
				article.projects#third(data-scroll-speed="4")
					a(href="#")
						span
							small.category
							small.year 2015
							h1 Project Title
							p Project Description
				article.projects#fourth(data-scroll-speed="4")
					a(href="#")
						span
							small.category
							small.year 2015
							h1 Project Title
							p Project Description
				article.projects#fifth
					a(href="#")
						span
							small.category
							small.year 2015
							h1 Project Title
							p Project Description
				article.projects#six(data-scroll-speed="4")
					a(href="#")
						span
							small.category
							small.year 2015
							h1 Project Title
							p Project Description

			footer
				include ./includes/social.jade
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js")
		script(src="assets/js/main.js")
