doctype html
html(lang="da")
	head
		include ./includes/head.jade
	body
		header
			include ./includes/social.jade
			include ./includes/nav.jade
		div#wrapper
			h1#projectshead This is some of my projects
			section#projects
				// 1 
				article.projects.icon#toejstory(data-scroll-speed="4")
					a(href="#")
						span
							small.category Freelance
							small.year 2016
							h1 Tøjstory
							p Web Design & Programming
				// 2 
				article.projects.img#chaise
					a(href="#")
						span
							small.category 3D Modelling & Texturing
							small.year 2015
							h1 Chaise Lounge
							p Personal Project
							
				// 3 
				article.projects.icon#senegal(data-scroll-speed="4")
					a(href="#")
						span
							small.category School Project
							small.year 2015
							h1 Senegal
							p Web Design & Programming
				// 4 
				article.projects#kode(data-scroll-speed="4")
					a(href="#")
						span
							small.category Training
							small.year 2016
							h1 Kode
							p Proposal of Design
				// 5 
				article.projects#workspace
					a(href="#")
						span.img
							small.category Photography
							small.year 2015
							h1 Workspace
							p Personal Project
				// 6 
				article.projects.icon#bookit(data-scroll-speed="4")
					a(href="#")
						span
							small.category School Project
							small.year 2015
							h1 BOOKit
							p Mobile Application Concept
				// 7 
				article.projects#seven(data-scroll-speed="4")
					a(href="#")
						span
							small.category Freelance
							small.year 2015
							h1 Project Title
							p Project Description
				// 8 
				article.projects#eight
					a(href="#")
						span
							small.category Freelance
							small.year 2015
							h1 Project Title
							p Project Description
				// 9 
				article.projects#nine(data-scroll-speed="4")
					a(href="#")
						span
							small.category Freelance
							small.year 2015
							h1 Project Title
							p Project Description


			footer
				include ./includes/social.jade
		script(defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
		script(defer src="assets/js/min/main-min.js")
