input#navbar-checkbox.navbar-checkbox(type='checkbox')
nav#menu
	ul
		li 
			a(href="index.html") Jakob Bilstrup
		li
			a(href="projects.html") Projects
		li
			a(href="#") Expertise
		li
			a(href="#") Contact
		li#hire.fr
			a(href="hire.html") Hire Me
	label.navbar-handle(for='navbar-checkbox')
