span.social
	a(href="https://dk.linkedin.com/in/jakob-n%C3%B8rholm-bilstrup-541057b4" target="_blank")
		i.fa.fa-linkedin
	a(href="https://github.com/jakobbilstrup" target="_blank")
		i.fa.fa-github
	a(href="https://www.facebook.com/?q=#/profile.php?id=1081579396" target="_blank")
		i.fa.fa-facebook
