@import url(https://fonts.googleapis.com/css?family=Titillium+Web)

$main: 'Titillium Web', sans-serif

*
	margin: 0
	padding: 0

.fr
	float: right

html, body
	height: 100%

body
	font-family: $main
	font-weight: 400

#wrapper
	width: 90%
	margin: 0 auto 0 auto

#mainnav
	padding-top: 40px
	font-size: 20px
	vertical-align: bottom
	ul
		li
			display: inline-block
			margin: 30px
			padding-bottom: 3px
		.active
			border-bottom: 1px solid
		#hire
			border: 1px solid
			padding: 25px
			margin: 0
