@import url(https://fonts.googleapis.com/css?family=Titillium+Web)
@import 'bourbon'

$main: 'Titillium Web', sans-serif
$textcolor: rgb(56, 56, 56)

*
	margin: 0
	padding: 0

.fr
	float: right

html, body
	height: 100%
	color: $textcolor

body
	font-family: $main
	font-weight: 400

#wrapper
	width: 90%
	margin: 0 auto 0 auto
	> span
		position: absolute
		right: 240px
		top: 75px

.social
	a
		color: inherit
		margin-right: 10px
		border: 1px solid transparent
		padding: 5px 10px
		border-radius: 50px
		width: 41.72px
		+transition(0.5s)

		&:last-child
			padding: 5px 13px

		&:hover
			background-color: rgb(61, 61, 61)
			color: white
			+transition(0.5s)

#menu
	padding-top: 40px
	font-size: 20px
	vertical-align: bottom
	text-rendering: optimizeLegibility
	ul
		li
			display: inline-block
			margin: 30px
			padding-bottom: 3px
			list-style: none
			a
				text-decoration: none
				color: initial
		.active
			border-bottom: 1px solid
		#hire
			a
				border: 1px solid rgba(23, 23, 23, 0.3)
				padding: 25px
				margin: 0
				+transition(0.5s)
				&:hover
					background-color: rgb(61, 61, 61)
					color: white
					+transition(0.5s)

#hero
	height: 200px
	text-align: center
	padding-top: 200px
	p
		margin-left: auto
		margin-right: auto

	.big
		font-size: 40px
	.small
		font-size: 22px
		color: lighten($textcolor, 20)

/* PROJECT SITE
#projects
	width: 85%
	margin: 100px auto auto auto
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-webkit-flex-flow: row wrap
	justify-content: space-around
	article
		height: 500px
		display: inline-block
		margin: 30px
		flex-grow: 1
		flex-basis: 25%
	#one
		background-color: rgb(237, 159, 159)
	#two
		background-color: rgb(229, 237, 159)
	#third
		background-color: rgb(163, 237, 159)
	#fourth
		background-color: rgb(159, 237, 230)
	#fifth
		background-color: rgb(159, 181, 237)
	#six
		background-color: rgb(212, 159, 237)

footer
	bottom: 0
	width: 90%
	height: 90px
	position: fixed
	bottom: 0

	.social
		position: absolute
		right: 30px

/* Navbar-Colapse
.navbar-checkbox
	display: none
.navbar-handle
	display: none
	cursor: pointer
	position: relative
	font-size: 45px
	padding: .5em 0
	height: 0
	width: 1.66666667em
	border-top: 0.13333333em solid
	&:before, &:after
		position: absolute
		left: 0
		right: 0
		content: ' '
		border-top: 0.13333333em solid
	&:before
		top: 0.37777778em
	&:after
		top: 0.88888889em

.navbar-handle
	position: absolute
	font-size: 1.2em
	top: 0.7em
	right: 12px
	z-index: 10

@media (min-width: 900px)
	#wrapper
		> span
			display: none

@media (max-width: 900px)
	#menu
		ul
			max-height: 0
			overflow: hidden
		li
			visibility: hidden
			display: block
			border: none
		ul
			margin-top: 0.5em
		.navbar-handle
			display: block
	#wrapper
		> span
			top: 30px
			left: 100px
	#navbar-checkbox:checked + .menu
		ul
			max-height: 300px
		li
			visibility: visible
		.navbar-handle
			border-color: #aaa
			&:after, &:before
				border-color: #aaa

@media (max-width: 900px)
	#menu
		> ul
			max-height: 0
			overflow: show
			margin: 0 3.5em 0 1em
		li
			visibility: hidden
			display: block !important
			border: none
			text-align: right
		.navbar-handle
			display: block
	#navbar-checkbox:checked + #menu
		ul
			max-height: 100%
			li
				visibility: visible
		.navbar-handle
			border-color: #aaa
			&:after, &:before
				border-color: #aaa
	footer
		.social
			display: none

/* PROJECT SITE MQ
@media (max-width: 1700px)
	#projects
		article
			flex-basis: 40%

@media (max-width: 1300px)
	#projects
		article
			flex-basis: 100%
